<div class="container">
    <h1>{{title}}</h1>
    <form action="/api/auth/login" method="POST">
        {{#each fields}}
        <div class="form-group">
            <label for="{{this.id}}">{{this.label}}</label>
            <input type="{{this.type}}" id="{{this.id}}" name="{{this.name}}" {{#if this.required}}required{{/if}}>
        </div>
        {{/each}}
        <button type="submit">{{submitButton}}</button>
    </form>
    <div class="register-link">
        <p>{{registerLink.text}} <a href="{{registerLink.href}}">{{registerLink.linkText}}</a></p>
    </div>
</div>